@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

:root {
  --fontFamily: 'Open Sans', sans-serif;
  --secondaryColor: #202428;
  --secondaryHoverColor: #4d4d4d;
  --primaryColor3: #ffce04;
  --primaryColor2: #febd54;
  --primaryColor: #e1cccb;
  --secondaryTextColor: #62686e;
  --white: #fff;
}


/* =========================================
    GLOBAL Styles
============================================ */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--fontFamily);
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

.btn {
  padding: .5rem 2rem;
  border-radius: 0;
  display: flex;
  align-items: center;
  outline: 0;
}
.btn-border {
  border: 1px solid;
  box-sizing: border-box;
}
.btn-border {
  border-color: var(--secondaryColor);
}
.btn-black {
  background-color: var(--secondaryColor);
  color: var(--white);
}
.btn-black:hover {
  color: var(--white);
  background-color: var(--secondaryHoverColor);
}
.large-btn {
  font-size: 1.4rem;
  padding: 1.4rem 2.8rem;
}


/* =========================================
    HEADER Styles
============================================ */
/* header styles */
.header {
  background-color: var(--primaryColor);
  position: relative;
}
.header nav {
  box-shadow: 0 8px 6px -9px rgba(0, 0, 0, .5);
  padding-left: 0;
  padding-right: 0;
}
.header .header-brand {
  font-size: 4.5rem;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  transition: all .3s ease-in;
}
.header .header-brand:hover {
  /* color: var(--primaryColor); */
  color: #fa766f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--secondaryHoverColor);
}
.header .header-navigation .wrapper {
  display: flex;
  align-items: center;
}
.header .header-navigation .wrapper a {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--secondaryColor);
  padding-top: 6px;
  transition: all .3s ease-in;
}
.header .header-navigation .wrapper a:hover {
  color: #fa766f;
}
.text-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.text-wrapper .text-inner {
  position: relative;
}
.main-container .img-container,
.main-container .sub-wrapper {
  min-height: 70rem;
  height: 100vh;
  padding-top: 5rem;
}
.main-container .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container .sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container .lead-heading {
  font-size: 8rem;
  font-weight: 900;
}
.main-container .lead-sub-heading {
  font-size: 5rem;
  font-weight: 700;
}
.main-container .tryFree {
  font-weight: 600;
}
.main-container .lead-description {
  font-weight: 600;
}

/* =========================================
    INFO Section
============================================ */
.info {
  padding: 10rem 0;
}
.info .block-info,
.info .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .info .img-container img {
  color: var(--primaryColor);
} */
.info h3 {
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  letter-spacing: 1px;
}
.info p {
  text-align: center;
  font-weight: 600;
  color: var(--secondaryTextColor);
}

/* =========================================
    GALLERY Section
============================================ */
.gallery {
  /* background-color: #f2f2f2; */
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}
.container-fluid {
  padding: 0;
}

.gallery .revealer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--primaryColor);
  display: none;
}
.gallery .img-container {
  overflow: hidden;
  position: relative;
}
.gallery .img-container .img-revealer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 206, 4, 0.4);
  /* background-color: rgba(0, 0, 0, 0.4); */
  top: 0;
  left: 0;
  z-index: 2;
}